# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env

# Node
node_modules/
dist/
frontend/node_modules/
frontend/dist/

# Hugo
marketing/public/
marketing/resources/

# Docker
docker-compose.override.yaml

# OS
.DS_Store
Thumbs.db
